@import url('https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400');

:root {
  --text: #022022;
  --background: #faffff;
  --primary: #3863ff;
  --primary-accent: rgb(73, 108, 235);
  --secondary: #d6d5e2;
  --accent: #9748ad;
  /* color: var(--text); */
}

body {
  font-family: 'Poppins';
  font-weight: 400;
  margin:0;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  z-index: -1;
}

h1, h2, h3, h4, h5 {
  font-family: 'Poppins';
  font-weight: 700;
  line-height: 1.2;
}

html {font-size: 100%;} /* 16px */
h1 {font-size: 4.210rem; /* 67.36px */}
h2 {font-size: 3.158rem; /* 50.56px */}
h3 {font-size: 2.369rem; /* 37.92px */}
h4 {font-size: 1.777rem; /* 28.48px */}
h5 {font-size: 1.333rem; /* 21.28px */}
small {font-size: 0.750rem; /* 12px */}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--background);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

li {
  float: right;
}

li a {
  display: block;
  color: var(--text);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: var(--secondary);
}

/* .active {
  background-color: var(--primary);
} */

.main-page {
  /* margin-top:30px; */
  height:100vh;
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.main-page::after {
  content: '';
  position: absolute;
  background: var(--primary);
  inset: 0;
  z-index: -1;
  mix-blend-mode: multiply;
  filter: contrast(80%);
}

.main-page > div {
  align-self: center;
  margin: -100px 120px 0px 120px;
}

.element {
  width: 20rem;
  height: 20rem;
  border-radius: 50rem;
  background-color: var(--accent);
}

.main-section {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100% 100%'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='2.3'%3E%3C/feTurbulence%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' /%3E%3C/svg%3E"), var(--background);
  color: var(--background);
  isolation: isolate;
}

.main-page div > h1 {
  width: 40vw;
}

.main-page div > p {
  width: 35vw;
}

/* h1 > span {
  background: -webkit-linear-gradient(var(--text), var(--accent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.container {
  /* display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; */
  width: 452px;
}


.gr1 {
  position: absolute;
  z-index: 1;
}

.gr2 {
  position: relative;
  top: -3em;
  z-index: 0;
}